body {
  background: #0e0e0e;
  color: #fff;
  font-family: sans-serif;
  margin: 0;
}

.login-box {
  width: 300px;
  margin: 120px auto;
  padding: 20px;
  background: #1b1b1b;
  border-radius: 12px;
  text-align: center;
}

.chat-box {
  height: 80vh;
  overflow-y: auto;
  padding: 10px;
}
.logo {
  display: block;
  margin: 0 auto 15px auto;
  width: 120px; /* اندازه دلخواه */
  height: auto;
  border-radius: 12px; /* اگر بخوای گوشه‌ها گرد باشد */
}


.bubble {
  padding: 10px;
  background: #272727;
  border-radius: 10px;
  margin: 5px 0;
}

.input-box {
  display: flex;
  padding: 10px;
  background: #1b1b1b;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px;
  background: #4f8cff;
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 8px;
  cursor: pointer;
}
